body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f172a; /* Azul muy oscuro */
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #442165; /* Borde morado */
  padding: 20px;
  border-radius: 15px;
  background-color: #1e293b;
}

canvas {
  background-color: #020617;
  border: 4px solid #7c3aed; /* Morado vibrante */
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.5); /* Resplandor morado */
}

.panel {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

#txtPuntaje { color: #38bdf8; } /* Azul claro */
#txtVidas { color: #ef4444; }   /* Rojo */

.botones button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  background-color: #7c3aed; /* Morado */
  color: white;
}

.botones button:hover {
  background-color: #ef4444; /* Cambia a rojo al pasar el mouse */
  transform: scale(1.05);
}